#monthAndYear {
  text-align: center;
}
.bg-info {
  color: #a80000;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
}
.full-calendar-container {
  margin: auto;
  text-align: center;
  width: fit-content;
}
.form-inline {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bg-choosen-date {
  background-color: #3d8fd3af;
  border-radius: 15px !important;
}
.bg-start-date {
  background-color: #3d8fd3af;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bg-end-date {
  background-color: #3d8fd3af;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.bg-between-date {
  background-color: #79a6ce6c;
}
.bg-unactive-date {
  color: #ccc;
  pointer-events: none;
}
#main-container {
  min-width: 275px;
  width: fit-content;
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 1px 7px 12px 1px #ccc;
}

td {
  width: 30px;
}

#date {
  width: fit-content;
}
#calendar-body td {
  cursor: pointer;
}
#calendar-body td:hover {
  background-color: rgba(134, 134, 134, 0.3);
  border-radius: 15px;
}

#showdate {
  width: 100%;
  font-family: monospace;
  text-align: center;
  font-size: 16px;
}

#calendar-container {
  min-width: 300px;
  width: auto;
  /* display: none; */
}
#input-container {
  width: 50%;
  padding: 5px;
  /* display: block; */
}
#top-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#input-calendar {
  width: fit-content;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
