#monthAndYear {
  text-align: center;
}
.bg-info {
  color: #a80000;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
#full-calendar-container {
  text-align: center;
  width: fit-content;
}
.form-inline {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bg-choosen-date {
  background-color: #d1c000;
  border-radius: 15px;
}
#main-container {
  width: fit-content;
}
td {
  width: 30px;
}
#date {
  width: fit-content;
}
